.page-header {
  @extend .container;
  position: relative;
  background: #333;
  padding-top: 10px;
  padding-bottom: 10px;

  &__logo {
    &-link {
      color: #fff;
      font-size: 2rem;
      text-decoration: none;
    }
  }

  &__nav {

    &-trigger {
      float: right;
    }

    &-menu {
      display: none;
      position: absolute;
      background: #111;
      right: 20px;

      &--active {
        display: block;
      }
    }

    &-list {
      list-style: none;
      padding: 0;
    }

    &-item {
      padding: 10px 20px;
    }

    &-link {
      color: #fff;
    }
  }
}